@import '../../variables.scss';

.button {
    color: $colorDark;
    padding: .4em .2em;
    border: 1px solid $colorDark;
    cursor: pointer;
    transition: .2s;
    width: 150px;
}

.primary {
    @extend .button;
    background-color: $colorPrimary;

    &:hover,
    &:focus {
        background-color: darken($colorPrimary, 15%);
    }
}

.primaryLight {
    @extend .button;
    background-color: $colorPrimaryLight;

    &:hover,
    &:focus {
        background-color: darken($colorPrimaryLight, 15%);
    }
}

.secondary {
    @extend .button;
    background-color: $colorSecondary;
    
    &:hover,
    &:focus {
        background-color: lighten($colorSecondary, 10%);
    }
}

.secondaryLight {
    @extend .button;
    background-color: $colorSecondaryLight;
    
    &:hover,
    &:focus {
        background-color: lighten($colorSecondaryLight, 15%);
    }
}

.danger {
    @extend .button;
    background-color: $colorDanger;
    
    &:hover,
    &:focus {
        background-color: darken($colorDanger, 10%);
    }
}

.neutral {
    @extend .button;
    background-color: $colorBackground;
    
    &:hover,
    &:focus {
        background-color: darken($colorBackground, 10%);
    }
}

.neutralLight {
    @extend .button;
    background-color: white;
    
    &:hover,
    &:focus {
        background-color: lighten($colorPrimaryLight, 5%);
    }
}