.buttonContainer {
    display: flex;
    justify-content: flex-end;

    button {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.bottomSpace {
    @extend .buttonContainer;
    margin-bottom: 15px;
}