@import '../../variables.scss';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 50px;
    padding-bottom: 70px;
}

.testButton {
    background-color: $colorNeutral;
    border: 1px solid $colorSecondary;
    color: $colorDark;
    padding: .2em .4em;
    transition: .2s;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $colorSecondaryLight;
    }
}

.testButtonActive {
    @extend .testButton;
    background-color: $colorSecondary;
    border: 1px solid $colorDark;
}

.link {
    margin-right: 15px;
    padding: .2em .4em;
    border: 1px solid lighten($colorDark, 55%);
    color: $colorDark;
    text-decoration: none;
    transition: .2s;

    &:hover,
    &:focus {
        background-color: $colorPrimary;
    }
}