$colorPrimary: #AEFAB1;
$colorPrimaryLight: #D7FACC;
$colorSecondary: #FCD50B;
$colorSecondaryLight: #FEEA85;
$colorBackground: #FFFBE7;
$colorNeutral: #FFFBE7;
$colorDark: #5B592D;
$colorDanger: #FAAEB7;
